.img-fluid {width: 800px;margin-bottom: 100px}
.home{font-family: 'Permanent Marker', cursive;text-align: center;color: white; font-size: 100px}
.navbar{font-family: 'Fredoka One', cursive;}
.lab{width: 500px;}
.container{margin-bottom: 50px}
.codet{color: #ff0000;}
